<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.19164.21010" newVersion="6.15.19164.21010" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.UI" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.19164.21010" newVersion="6.15.19164.21010" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GH_Util" publicKeyToken="dda4f5ec2cd80803" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.20.19322.20361" newVersion="6.20.19322.20361" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>